
ion-header
{
  ion-toolbar{
    ion-title{
      color:cornsilk;
      font-size: 22px;
      font-weight: 600;
    }
    ion-icon{
      color: rgb(252, 250, 250);
      font-size: 30px;
    }
  }
}
